.header {
    text-align: center;
    background-image: url('https://picsum.photos/2560/300');
    background-repeat: no-repeat;
    color: #f0e68c;
    font-size: 30px;
    width: auto;
    min-height: 200px;
    min-width: 100%;
    padding: 50px;
    max-height: 100%;
    max-width: 100%;
}

.headerTitle {
    position: float;
    text-align: center;
    font-size: 4rem;
    filter: drop-shadow(10px 10px 10px #000);
}