.color-nav {
  background: -webkit-linear-gradient(left, #009c3b, #ffdf00 30%);
}

.mr-auto {
    color: #000;
}

.navbar-brand {
    color: #002776 !important;
}

.nav-link {
    color: #000 !important; 
}

.nav-link:hover {
    color:  #009c3b !important;
}

.navbar-toggler-icon {
    filter: drop-shadow(5px 5px 5px #000);
}