@import "./layout/navbar.scss";
@import "./layout/header.scss";
@import "./layout/home.scss";
@import "./layout/tops.scss";
@import "./layout/itemDetails.scss";
@import "./layout/sidebar.scss";
@import "./layout/footer.scss";
@import "./layout/product.scss";
@import "./layout/checkout.scss";
@import "./layout/checkoutProduct.scss";
@import "./layout/subtotal.scss";
@import "./layout//logIn.scss";

a {
  text-decoration: none !important;
  color: #000 !important;
}

a :hover,
:active,
:focus {
  text-decoration: none !important;
  color: #a9a9a9 !important;
  cursor: pointer;
}

body {
  background-color: rgb(234, 237, 237) !important;
}
