@import "./layout/navbar.scss";
@import "./layout/header.scss";
@import "./layout/home.scss";
@import "./layout/tops.scss";
@import "./layout/itemDetails.scss";
@import "./layout/sidebar.scss";
@import "./layout/footer.scss";
@import "./layout/product.scss";

a {
    text-decoration: none !important;
    color: #000;
}

a :hover, :active, :focus {
    text-decoration: none !important;
    color: #A9A9A9 !important;
    cursor: pointer;
}

body {
    background-color:#F8F8F8;
}